trigger:
- main

pool: Default

stages:
- stage: buildingArtifact
  displayName: building Artifact
  jobs:
  - job: instalingDependencies
    displayName: installing Dependencies
    steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: 'mvn clean package'
          workingDirectory: '$(System.DefaultWorkingDirectory)/JavaLoginPracticeApp-main'

    
    


