trigger:
- main

pool: Default

stages:
- stage: buildingArtifact
  displayName: building Artifact
  jobs:
  - job: instalingDependencies
    displayName: installing Dependencies
    steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: 'mvn clean package'
          workingDirectory: '$(System.DefaultWorkingDirectory)/JavaLoginPracticeApp-main'
        
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/JavaLoginPracticeApp-main/target'
          artifact: 'target'
          publishLocation: 'pipeline'

- stage: deploy
  displayName: deployment
  jobs:
  - deployment: downloadArtifect
    displayName: download Artifect
    environment:
      name: my env
      resourceType: virtualMachine
    strategy:
      runOnce:
       deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'target'
              targetPath: '$(Pipeline.Workspace)'


